<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>foodHot</key>
			<string>19</string>
			<key>foodImage</key>
			<string>fanqie.png</string>
			<key>foodName</key>
			<string>番茄</string>
			<key>foodDesc</key>
			<string>一种热量低，含水量极高的蔬菜，由于其便携性，也常被当作水果食用，推荐在减肥期间食用。</string>
			<key>calorie</key>
			<string>19大卡/100克</string>
			<key>evaluation</key>
			<string>不错的水果蔬菜哦</string>
		</dict>
		<dict>
			<key>foodHot</key>
			<string>15</string>
			<key>foodImage</key>
			<string>huanggua.png</string>
			<key>foodName</key>
			<string>黄瓜</string>
			<key>foodDesc</key>
			<string>一种热量低，含水量极高的蔬菜，由于其便携性，也常被当作水果食用，推荐在减肥期间食用。</string>
			<key>calorie</key>
			<string>15大卡/100克</string>
			<key>evaluation</key>
			<string>一块黄瓜约等于0.0个西红柿</string>
		</dict>
		<dict>
			<key>foodHot</key>
			<string>21</string>
			<key>foodImage</key>
			<string>qiezi.png</string>
			<key>foodName</key>
			<string>茄子</string>
			<key>foodDesc</key>
			<string>茄子是为数不多的紫色蔬菜之一，在它的紫皮中含有丰富的维生素E和维生素P，热量低且营养丰富，推荐在减肥时期食用。</string>
			<key>calorie</key>
			<string>21大卡/100克</string>
			<key>evaluation</key>
			<string>一根茄子约等于1.0个西红柿</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>foodHot</key>
			<string>52</string>
			<key>foodImage</key>
			<string>pingguo.png</string>
			<key>foodName</key>
			<string>苹果</string>
			<key>foodDesc</key>
			<string>一种碳水化合物，水分、纤维、钾含量都较高的水果，对于缓解便秘，消除水肿均有一定帮助，适宜减肥时食用。</string>
			<key>calorie</key>
			<string>52大卡/100克</string>
			<key>evaluation</key>
			<string>一个苹果约等于0.9个伏苹果</string>
		</dict>
		<dict>
			<key>foodHot</key>
			<string>91</string>
			<key>foodImage</key>
			<string>xiangjiao.png</string>
			<key>foodName</key>
			<string>香蕉</string>
			<key>foodDesc</key>
			<string>高碳水化合物，高钾含量的一种水果，在水果中热量偏高，减肥时不宜大量食用</string>
			<key>calorie</key>
			<string>91大卡/100克</string>
			<key>evaluation</key>
			<string>一根香蕉约等于1.2个苹果</string>
		</dict>
		<dict>
			<key>foodHot</key>
			<string>43</string>
			<key>foodImage</key>
			<string>putao.png</string>
			<key>foodName</key>
			<string>葡萄</string>
			<key>foodDesc</key>
			<string>葡萄中碳水化合物的含量约占1/10，并且主要是葡萄糖，可快速被人体吸收利用，减肥时如遇到低血糖可以进食葡萄，减肥期间可以适量食用。</string>
			<key>calorie</key>
			<string>43大卡/100克</string>
			<key>evaluation</key>
			<string>一串葡萄约等于2.6个苹果</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>foodHot</key>
			<string>109</string>
			<key>foodImage</key>
			<string>miantiao.png</string>
			<key>foodName</key>
			<string>面条</string>
			<key>foodDesc</key>
			<string>生面条煮熟后，水分含量增多，单位热量会降低50%~66%，较易消化和吸收，适宜减肥期间食用。</string>
			<key>calorie</key>
			<string>109大卡/100克</string>
			<key>evaluation</key>
			<string>一中碗面条约等于3.2碗米饭</string>
		</dict>
		<dict>
			<key>foodHot</key>
			<string>221</string>
			<key>foodImage</key>
			<string>mantou.png</string>
			<key>foodName</key>
			<string>馒头</string>
			<key>foodDesc</key>
			<string>碳水化合物和水分含量都较高的北方最常见的一种主食，可占全天热量的55%左右，适宜减肥期间食用。</string>
			<key>calorie</key>
			<string>221大卡/100克</string>
			<key>evaluation</key>
			<string>一个馒头约等于0.9碗米饭</string>
		</dict>
		<dict>
			<key>foodHot</key>
			<string>116</string>
			<key>foodImage</key>
			<string>mifan.png</string>
			<key>foodName</key>
			<string>米饭</string>
			<key>foodDesc</key>
			<string>一种碳水化合物和水分含量都较高的主食，他是身体所需热量的主要来源之一，可占全天热量的55%左右，适宜减肥期间食用。</string>
			<key>calorie</key>
			<string>116大卡/100克</string>
			<key>evaluation</key>
			<string>一碗米饭约等于1.1个馒头</string>
		</dict>
	</array>
</array>
</plist>
